#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blogEntryContainer {
    border-style: solid;
    color: #1e2019;  
    background-color: #F5F5F5;
    padding: 2em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.blogEntryContainer:nth-child(4n+2) {
    box-shadow: 1em 1em #db3a34;
}

.blogEntryContainer:nth-child(4n+3) {
    box-shadow: 1em 1em #177e89;
}

.blogEntryContainer:nth-child(4n+4) {
    box-shadow: 1em 1em #f3a712;
}

.blogEntryContainer:nth-child(4n+5) {
    box-shadow: 1em 1em #7fb069;
}

.blogHeaderContainer {
    margin-bottom: 5em;
}
