

@media (min-width: 768px) {
     h2 {
       display: inline;
     }
     span {
          visibility: visible;
     }
     .altheaderContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
     }
   }
   
   @media (max-width: 768px) {
     h2 {
       display: block;
     }
     span {
          visibility: hidden;
     }
     .altheaderContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 15px;
     }
   }

.header {
     margin-bottom: 3em;
}


img {
     max-width: 25%;
}

h2.altheader {
     display: inline;
     font-size: 1em;
}

.titleCard {
     padding: 1em;
     border-style: solid;
     box-shadow: 4px 4px #177E89;
}

.logo img {
     max-width: 50px;
     padding-right: 2em;
}

.brand {
     display: flex;
     flex-direction: row;
     align-items: center;
}