p.navBar {
    margin: 0.5em;
}

@media (min-width: 1024px) {
    p.altNavBar {
        margin: 1em;
    } 
}

@media (max-width: 1024px) {
    p.altNavBar {
        margin: 0;
    } 
}

.navBar a:link, a:visited {     
    text-decoration: none;
    padding: 0.5em;
    border-color: #F3A712;
    color: black;
    border-radius: 10px;
    border-style: solid;
}

.navBar a:hover, a:active {
    background-color: #F3A712;
    color: #F5F5F5;
}

.altNavBar a:link, a:visited {     
    text-decoration: none;
    padding: 0.5em;
    border-color: #F3A712;
    color: black;
    border-radius: 10px;
    border-style: solid;
}

.altNavBar a:hover, a:active {
    background-color: #F3A712;
    color: #F5F5F5;
}

@media (min-width: 1024px) {    
    .navBarContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .altNavBarContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 1024px) {
    .navBarContainer {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }   
    .altNavBarContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: x-small;
        width: 100%;
        margin-top: 1em;
    }
}