#root {

    margin: 0 auto 25px auto;
    padding: 0.5rem;
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2em;
  margin-top: 10em;
}

ul {
  text-align: start;
}

.card {
  border-style: solid;
  color: #1e2019;  
  background-color: #F5F5F5;
  padding: 2em;
}

.galleryContainer {
  margin-top: 5em;
  margin-right: 1em;
  margin-left: 1em;
}

a:link, a:visited {
  color: #1e2019;
}
